.App {
  text-align: center;
  background-color: #fff;
  color: #000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 2em;
}
